@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800');

* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	font-weight: 300;
	color: #262626;
}

.container {
	position: relative;
	max-width: 1830px;
	width: 100%;
}

.main-slide {
	background: url(../img/bg-1.png) no-repeat center center;
	background-color: #F9F9FC;
	padding: 45px 165px 70px;
	
}

/* Header */
.logo {
	display: inline-block;
	vertical-align: middle;
	width: 9.5%;
	padding-top: 7px;
}

header nav{
	display: inline-block;
	vertical-align: middle;
	width: 58.2%;
	text-align: left;
	float: right;
	line-height: 1.6;
}

header nav a {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #262626;
	margin: 0 17px;
}

header ul li{
	display: inline-block;
}

header nav a:hover {
	border-top: 3px solid #ff6033;
	transition: all 0.1s ease; 
}

/* .Header  */

.main-slide-info {
	padding-top: 245px;
	display: inline-block;
	width: 30%;
	text-align: left;
}

.main-slide-info h2 {
	font-size: 60px;
	font-weight: 800;
	margin: 0;
}

.main-slide-info p {
	line-height: 1.6;
}

.btn-get-free {
	color: #fff;
	font-size: 20px;
	background-color: #ff6033;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	width: 50%;
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	outline: none;
	border: none;
	margin-top: 10px;
}

.btn-get-free:hover {
	background-color: #C00743;
}

.btn-get-free:active {
	color: #262626;
}

.scroll {
	display: inline-block;
	padding-left: 572px;
	padding-top: 292px;
}

/* .Main-slide-info */

.about-us {
	background: url(../img/bg-2.png) no-repeat 11% 50%;
	background-color: #00B0B0; 
	padding: 150px 166px 231px 835px;
}

 .about-us-info {
	width: 499px;
	color: #fff;
	text-align: left;
}

.about-us-info  h2 {
	font-size: 90px;
	font-weight: 700;
	text-transform: capitalize;
	margin: 0;
}

.about-us-info p {
	line-height: 1.5;
} /* .About-us */


 /*.services-wrap {
	background: url(../img/bg-3.png) no-repeat 80% 60%;
	background-color: #70bfff;
}

.services {
	padding: 179px 165px 150px 256px;
}

.services h2 {
	float: right;
	font-size: 90px;
}

.service-form {
	display: inline-block;
	width: 60%;
}

.service-button {
	display: inline-block;
	position: relative;
	width: 60%;
	font-size: 20px;
	font-weight: 700;
	padding-top: 40px;
	padding-bottom: 40px;
}


.service-button img {
	position: absolute;
	right:15px;
}
*/
