/* Basic styles */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800');

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #262626;
    line-height: 1.6;  
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h2 {
	margin: 0;
}

h2 a {
	font-size: 90px;
	font-weight: 700;
}

a, button{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    line-height: 1;
    outline: none;
    border: none;
}

h2 a:hover {
	border-bottom: 2px solid #BABF4F;
}

button {
    padding: 15px 25px;
    color: #fff;
	text-transform: uppercase;
}

/* Typography */


/* Additional styles or modificators */
.text-left{
    text-align: left !important;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

/* Grid */
.container{
    display: block;
    margin: auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1500px;
}

.row{
    margin: 0 -15px;
    height: auto;
}

.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;
}


[class^="col"],
[class*="col"] {
    /* float: left; */
    box-sizing: border-box;
    padding: 0 15px;

}

.col-1{
    width: 8.3333%;
}

.col-2{
    width: 16.6666%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.3333%;
}

.col-5{
    width: 41.6665%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.3333%;
}

.col-8{
    width: 66.6666%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 60%;
}

.col-11{
    width: 91.6666%;
}

.col-12{
    width: 100%;
}

.col-offset-1{
    margin-left: 8.3333%;
}

.col-offset-2{
    margin-left: 16.6666%;
}

.col-offset-3{
    margin-left: 25%;
}

.col-offset-4{
    margin-left: 33.3333%;
}

.col-offset-5{
    margin-left: 41.6665%;
}

.col-offset-6{
    margin-left: 50%;
}

.col-offset-7{
    margin-left: 58.3333%;
}

.col-offset-8{
    margin-left: 66.6666%;
}

.col-offset-9{
    margin-left: 75%;
}

.col-offset-10{
    margin-left: 83.3333%;
}

.col-offset-11{
    margin-left: 91.6666%;
}

/*Main-slide*/
.container {
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    max-width: 1500px;
    width: 100%;
}

.main-slide {
    height: 1000px;
    background: #F9F9FC url(../img/bg-1.png) no-repeat center center;
    padding-left: 135px;
	padding-right: 300px;
}

.container header {
    line-height: 1.6;
    padding-top: 50px;
}


.logo {
    display: inline-block;
    float: left;
    max-width: 165px;
    height: auto;
    padding: 0 20px;
}

.head-nav {
    float: right;
    text-align: right;
}

.head-nav a:hover {
    border-top: 3px solid #ff6033;
    transition: all 0.5s ease; 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.head-nav ul{
    margin-bottom: 0px;
    margin-top: 12px;
}

.head-nav li{
    display: inline-block;
    margin: 0 14px;
	text-align: left;
}

.head-nav li a {
    color: #262626;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-slide-info {
    padding-top: 285px;
    padding-bottom: 300px;
}

.main-slide-info h2 {
    font-size: 60px;
    font-weight: 800;
}

.main-slide-info p {
    line-height: 1.6;
    margin: 0;
}

.btn-get-free {
    background-color: #ff6033;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    max-width: 250px;
}

.btn-get-free:hover {
    background-color: #C00743;
}

.btn-get-free:active {
    color: #262626;
    font-weight: 700;
}

.scroll {
   display: inline-block;
   margin-left: 50%;
} 

/*About us*/
.about-us {
    background: #00B0B0 url(../img/bg-2.png) no-repeat 11% 75%;
}

.about-us-info {
    color: #fff;
    padding: 170px 0 240px 0;
}

.about-us-info h2 {
	margin-bottom: 15px;
}

.about-us-info a {
    font-size: 90px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.about-us-info p {
    line-height: 1.5;
    margin-top: 0;
}

/*Services*/
.services {
    background: #70bfff url(../img/bg-3.png) no-repeat 72% 38%;
}

.service-form {
	display: inline-block;
	padding-right: 0px;
    padding-left: 50px;
    margin-top: 180px;
	margin-right: 50px;
    margin-bottom: 130px;
	
}

.service-button, 
.service-button-deliver {
    position: relative;
    display: inline-block;
    color: #262626;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    width: 90%;
    margin-bottom: 20px;
}

.service-button {
    line-height: 3.5;
    vertical-align: middle;
    padding-right: 100px;
}

.service-button-deliver {
    line-height: 1.3;
    padding: 22px 90px 25px 0;
}

.service-button-deliver p {
    margin: 0;
}

.service-button img, 
.service-button-deliver img{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 75%;
}

.service-button:hover, 
.service-button-deliver:hover {
    border: 2px solid #ED7F02;
}


.service-button:active, 
.service-button-deliver:active {
    color: #fff;
    font-weight: 700;
}

.services h2 a {
    float: right;
    font-size: 90px;
    color: #fff;
    margin-top: 320px;
	margin-right: 230px;
    text-transform: capitalize;
}


/*Gallery*/
.gallery {
   background: #ffe92f;
   text-align: center;
   padding-top: 40px;
   padding-left: 120px;
}

.gallery-info {
	padding: 0 50px;
}

.gallery-info h2 {
	margin-top: 50px;
	margin-bottom: 30px;
}


.gallery-info h2 a {
    font-size: 90px;
    font-weight: 700;
	color: #262626;
    text-transform: capitalize;
	
}

.gallery-info p {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;
}

[class*="gall-img"] {
    float: left;
}

.row img:hover {
	border: 3px solid #99B7F4;
	transition: all 0.1s ease; 
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
}

.gall-img-1  {
	max-width: 840px;
}

.gall-img-2 {
	margin-bottom: 22px;
}

.gall-img-4, 
.gall-img-5 {
	max-width: 640px;
}

.gallery .row {
	margin-bottom: 30px;
}

.btn-gallery {
    background: #5585a2;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 115px;
	margin-right: 15%;
}

.btn-gallery:hover {
    background: #2d393f;
}

.btn-gallery:active {
    color: #ffe92f;
    font-weight: 700;
}

/*Subscribe*/
.subscribe {
    background: url(../img/bg-5.png) no-repeat center center;
    padding: 135px 0 165px 100px;
}

.subscribe-info h2 {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    color: #262626;
}

.subscribe-info p{
    font-weight: 400;
	margin-top: 10px;
    margin-bottom: 25px;
}

.subscribe-form input{
    font-size: 15px;
	color: #AAAAAA;
    height: 55px;
    margin-right: 50px;
    outline: none;
    border: 1px solid #262626;
}

.subscribe-form input:hover {
    background: #bcd475;
    color: #fff;
}

.btn-subscribe {
    background: #96b92c;
}

.btn-subscribe:hover {
    background: #373f52;
}

.btn-subscribe:active {
    font-weight: 700;
}

/* Blog */
.blog {
	background: #b07cf7;
	text-align: center;
}

.blog-info {
	color: #fff;
	padding: 0 15px;
	margin-bottom: 40px;
}

.blog-info h2 {
	padding-top: 90px;
	padding-bottom: 10px;
}

.blog-info h2 a {
	color: #fff;
}

.blog-post {
	position: relative;
	float: left;
	text-align: left;
}

.blog .row {
	padding-right: 220px;
    padding-left: 60px;
	margin-bottom: 40px;
}
.post-date {
	position: absolute;
	top: 30px;
	left: 50px;
}

.post-name {
	position: absolute;
	bottom: 10px;
	left: 30px;
	max-width: 300px;
}

.post-name a{
	color: #fff;
	font-size: 20px;
}

.post-name a:hover {
	border-bottom: 2px solid #BABF4F;
}

.post-name p {
	font-size: 13px;
	font-weight: 300;
	color: #fff;
}

.btn-blog {
	background: #F72B3B;
	margin-bottom: 125px;
}
.btn-blog:hover {
	color:#b07cf7;
	background: #BABF4F;
}

/* Contact */
.contact {
	background: url(../img/bg-7.png) no-repeat center center;
	background-size: cover;
	padding-left: 130px;
}

.contact-head  {
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

.contact-head h2 {
	padding-top: 90px;
	padding-bottom: 10px;
	color: #262626;
}

.contact-head h2 a {
	color: #262626;
}

.contact-form {
	margin-top: 25px;
	float: left;
}

.contact-form input, 
.contact-form textarea {
	color: #fff;
	background: rgba(0, 196, 196, 0.5);
	width: 100%;
	padding-left: 20px;
	margin-bottom: 15px;
	border: none;
    outline: none;
    
}

.contact-form input {
    height: 50px;
}

.contact-form textarea {
    height: 250px;
}

::-webkit-input-placeholder {
  color: #fff;
  font-size: 15px;
}
:-ms-input-placeholder {
  color: #fff;
  font-size: 15px;
}
::-moz-placeholder {
  color: #fff;
  font-size: 15px;
}

.contact-form input:hover, 
.contact-form textarea:hover {
	background: #00c4c4;
	border-left: 4px solid #355b82;
    font-weight: 700;
}
.contact-form {
	display: inline-block;
	margin-bottom: 100px;
}

.contacts {
    display: inline-block;
	margin-top: 20px;
    margin-left: 175px;
}
.contacts h5 {
	margin: 0;
}
.contacts p {
	margin-top: 0;
	margin-bottom: 10px;
}

/*Footer*/
footer {
    background: #262626;
    color: #b9b9b9;
    width: 100%;
    text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 160px;
}

footer p {
    display: inline-block;
	
}
footer img {
    display: inline-block;
    padding-left: 17%;
    padding-right: 25%;
}

footer p span {
    color: #df2a4f;
}




